<app-nav></app-nav>
  <br><br>
  <div class="container">
    <div class="row" >
        <div class="col-sm-6 mb-3 mb-sm-0" *ngFor="let list of listService.lists">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">{{list.nombre}}</h5>
              <img src="{{list.foto}} " width="100%" height="230" alt="">
              <p class="card-text">{{list.descripcion}} </p>
              <a (click)="votar(list)" class="btn btn-primary">Votar</a>
            </div>
          </div>
        </div>
  </div>
