<header  id="admin4">
<div  class="collapse" id="navbarToggleExternalContent">
    <div  class="bg-dark p-4">
      <a id="admin1" href="" routerLink="/users" >Usuarios</a>
      <br>
      <a id="admin2" href="" routerLink="/listas" >Listas</a>
      <br>
      <a id="admin3" href="" routerLink="/yaviElec" >Votacion</a>
      <br>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <button class="logOut btn btn-warning" (click)="logOut()">Cerrar Sesion</button>
  </nav>
</header>
