<app-nav></app-nav>
  <br>
  <div class="container">
      <div class="row gx-5">
      <div class="col-6">
  <div class="card text-center">
      <h5 class="card-title mt-2">Registre una lista</h5>
      <div class="card-body">
          <form #listForm="ngForm" (ngSubmit)="addList(listForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="listService.selectedList._id">
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nombre Lista</label>
                  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="listService.selectedList.nombre" class="form-control" >

                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripcion Lista</label>
                    <textarea name="descripcion" #descripcion="ngModel" [(ngModel)]="listService.selectedList.descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Url Img</label>
                    <input type="text" name="foto" #foto="ngModel" [(ngModel)]="listService.selectedList.foto" class="form-control" >

                  </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Votos Lista</label>
                  <input type="text" name="votos" #votos="ngModel" [(ngModel)]="listService.selectedList.votos" class="form-control"  >
                </div>
                <div class="card-footer">
                  <button class="btn btn-primary">Guardar</button>
                  <button  (click)="resetForm(listForm)" class="btn btn-dark">Limpiar</button>
                </div>
          </form>
      </div>
  </div>
  </div>
  <div class="col-6">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Foto</th>
              <th scope="col">Votos</th>
              <th scope="col">Operaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of listService.lists">
              <th> {{list.nombre}} </th>
              <td> <img src="{{list.foto}} " width="230" height="200" alt=""></td>
              <td> {{list.votos}} </td>
              <td>
                  <a (click)="editList(list)">
                      <i class="material-icons">edit</i>
                  </a>
                  <a (click)="deleteList(list._id)">
                      <i class="material-icons">delete</i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  </div>
  </div>
